body.login-page {
    margin: 10;
    padding: 10;
    font-family: 'Arial', sans-serif;
    background: teal;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .login-form,
  .forgot-password-form,
  .reset-password-form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-form h2,
  .forgot-password-form h2,
  .reset-password-form h2 {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .login-form input,
  .forgot-password-form input,
  .reset-password-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  
  .login-form input::placeholder,
  .forgot-password-form input::placeholder,
  .reset-password-form input::placeholder {
    color: #fff;
  }
  
  .login-form .login-options,
  .forgot-password-form .login-options,
  .reset-password-form .login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    color: #fff;
  }
  
  .login-form .login-options a,
  .forgot-password-form .login-options a,
  .reset-password-form .login-options a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .login-form button,
  .forgot-password-form button,
  .reset-password-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
  }
  
  .login-form p,
  .forgot-password-form p,
  .reset-password-form p {
    color: #fff;
    cursor: pointer;
  }
  
  .login-form p span {
    color: #00d4ff;
    cursor: pointer;
  }