/* Profile Container */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: rgb(50, 147, 166); /* Background color */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 20px auto;
}

/* Profile Title */
.profile-container h2 {
  font-size: 24px;
  color:white;
  margin-bottom: 20px;
}

/* Profile Content */
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Profile Image */

/* Profile Rows */
.profile-row {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Vertically center the items */
  width: 100%;
}

.profile-row strong {
  font-weight: 600;
  color: #333;
  margin-right: 10px; /* Adds space between 'Name:' and the value */
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .profile-container {
      width: 90%;
  }
}
